*{
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
.heading{
  font-size: 2.5rem;
}

#container{
  overflow: hidden;
}
.detection{
   transform: rotate(180deg);
   font-family: "Creepster", system-ui;
   color: rgb(3, 90, 58);
   font-size: 3.7rem;
   animation: blink 2s infinite;
}

@keyframes blink {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  30%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  70%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.ghost{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(145, 144, 144);
  font-weight: 300;
}

.tool{
  font-family: cursive;
  font-size: 2rem;
  font-weight:600;
  color: white;
}
#toolContainer{
  transition: opacity 1s;
}
.background{
  height: 100vh;
  width: 100vw;
  position: absolute;
  filter: brightness(0.7);
  z-index: -1;

}

.increaseVolume{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.438);
  left: 42%;
  top: 40%;
  border-radius: 20px;
  z-index: 100;
}
.AI{
  background-color: rgba(255, 255, 255, 0.198);
  width: 30%;
  position: absolute;
  text-align: center;
  border-radius: 20px;
  top: 0px;
}

#howWorks{
  background: #b3b0b022;
  height: 78vh;
  width: 70vw;
  border-radius: 20px;
}

#howContainer{
  height: 78vh;
  padding-top: 5rem;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
.howContent{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.howHeading{
  font-family:Creepster ;
  color: rgb(11, 74, 11);
  
}
.first,.third,.fifth{
  align-self: flex-start;
  background-color: rgba(199, 199, 203, 0.286);
  padding: 0.7rem;
  border-radius: 20px;
  min-width: 40vw;
}
.second,.fourth{
  align-self: flex-end;
  background-color: rgba(15, 88, 29, 0.31);
  min-width: 40vw;
  color: white;
  border-radius: 20px;
  padding: 1rem;
}
.howContent h3{
  text-align: center;
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.howContent p{
  padding: 1rem;
  font-size: 1.2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#investigationWarning{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(246, 251, 246, 0.141);
  border-radius: 20px;
  transition: opacity 1s ease-in-out;
  position: absolute;
  padding: 2rem;
  bottom: 40%;
  left: 45%;
}
.startInvestigation{
  font-family: Nosifer;
  background-color: rgba(88, 15, 5, 0.551);
  padding: 0.4rem;
  color: white;
  font-size: 1.5rem;
}
.warning{
  font-family: creepster;
  color: rgba(100, 15, 6, 0.64);
  font-size: 3rem;
}
#investigationWarning p{
  font-family: cursive;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: rgba(255, 255, 255, 0.682);
}
#toolContainer{
  width: 100vw;
  height: 80vh;
  display: none;
  justify-content: center;
  padding-top: 1rem;
  border-radius: 20px;
}
#tools{
  background-color: rgba(202, 196, 196, 0.29);
  width: 60vw;
  height: 80vh;
  border-radius: 20px;
  display: grid;
  
}
.scanner{
  height: 14rem;
  width: 14rem;
  position: relative;
  border-radius: 100rem;
  border: 2px solid rgba(255, 255, 255, 0.525);
  animation: scan 3s infinite linear;
  background: conic-gradient(from 0deg,rgba(0, 128, 0, 0.591) 40deg,rgba(78, 138, 78, 0.574) 100deg,rgba(132, 236, 132, 0.517) 140deg,transparent 90deg);
}
.danger{
  position: relative;
}
.danger::before{
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  top: 10rem;
  left: 1rem;
  width: 20px;
  border-radius: 100rem;
  background: #f3191981;
  animation: blinkDot 0.5s infinite;
  transition: opacity 1s infinite ;
  z-index: 100;
}
@keyframes blinkDot {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes scan {
  0%{
    rotate: 0deg;
  }
  100%{
    rotate: -360deg;
  }
}

.emfControl,.emfStatusControl,.tempControl,.tempStatusControl,.scannerControl,.scannerStatusControl,.soundControl,.soundStatusControl{
  transition: opacity 1s;
}
.ghostDetectedWarning{
  bottom: 40%;
  left: 40%;
}

#ghostVideo{
  display: none;
  object-fit: cover;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.talkContainer{
  display: none;
  justify-content: center;
  border-radius: 20px;
  padding-top: 4rem;
}
.userChats{
  padding: 1rem;
  background-color: rgba(0, 128, 0, 0.439);
  border-radius: 20px;
}
.ghostChats{
  padding: 1rem;
  background-color: rgba(255, 0, 0, 0.387);
  border-radius: 20px;
}